<div class="mdl-cell mdl-cell--12-col"></div>
<div class="mdl-cell mdl-cell--4-col mdl-layout--large-screen-only"></div>
<div class="dd-player mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-grid dd-music-container">
        {{#each model as |item|}}
            {{dd-music title=item.title data-path=item.file}}
        {{/each}}
        <audio hidden>
            <source src="assets/music/01 - BRODOWN.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-layout--large-screen-only"></div>
